body {
   background: linear-gradient(to right, #0043afc4, #1e3a5f);
}

.textoprinc {
  font-size: 250%;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}

.textoprinc2 {
  font-size: 250%;
  color: white;
  margin-top: 8px;
}

.form {
  background: rgb(224, 224, 224);
  max-width: 360px;
  width: 100%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-right: 20px;
 margin-top: 160px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: #004fcf;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #004fcf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color:#004fcf;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #1e3a5f;;
}

.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 12px;
}


.form .register-form {
  display: none;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  flex-direction: row;
  float: right;
}
